<a href="https://colab.research.google.com/github/icteer01/Clean-and-Fix-Messy-Dataset-Using-Python/blob/main/Project_2_Clean_and_Fix_Messy_Dataset_Using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd

#Creation of messy dataset.
data = {
    'Name': ['James', 'michael', 'robert', 'John', None, 'David', 'william', 'Richard',
             'Mark', 'william', 'Alice', 'linda', 'susan', 'jessica', 'Karen', 'Nancy',
             'Amanda', 'deborah', 'Alice', 'kimberly'],
    'Age': [22, 36, 38, 35 ,None, 26, 28, 26, 27, 28, 26, 12, 26, 38, 28, None, 30, 35, 26, 22],
    'Country': ['usa', 'us', None, 'United States', 'aus', 'United Kingdom', 'aus', 'uk', 'Mexico',
                'Australia', 'Brazil', 'bra', None, 'mex', 'uk', 'United States', 'Argentina', 'Mexico',
                'bra', 'uk']
}

df = pd.DataFrame(data)
print(df)

        Name   Age         Country
0      James  22.0             usa
1    michael  36.0              us
2     robert  38.0            None
3       John  35.0   United States
4       None   NaN             aus
5      David  26.0  United Kingdom
6    william  28.0             aus
7    Richard  26.0              uk
8       Mark  27.0          Mexico
9    william  28.0       Australia
10     Alice  26.0          Brazil
11     linda  12.0             bra
12     susan  26.0            None
13   jessica  38.0             mex
14     Karen  28.0              uk
15     Nancy   NaN   United States
16    Amanda  30.0       Argentina
17   deborah  35.0          Mexico
18     Alice  26.0             bra
19  kimberly  22.0              uk

In [67]:
#Removes whitespace, ensures each name is properly capitalized.
df['Name'] = df['Name'].str.strip().str.title()

#Fills is missing age values with median age range.
df['Age'] = df['Age'].fillna(df['Age'].median())

#Applies Uniformity to country abbreviations and format.
df['Country'] = df['Country'].replace({
    'usa': 'United States',
    'us': 'United States',
    'aus': 'Australia',
    'bra': 'Brazil',
    'mex': 'Mexico',
    'uk': 'United Kingdom'
})

#Fills missing countries with 'Unknown' variable.
df['Country'] = df['Country'].fillna('Unknown')

#Sorts names alphabetically.
#Removes any duplicates from the table for better comprehension.
dfsort = df.sort_values(by='Name', ascending=True).drop_duplicates('Name')
print(dfsort)

        Name   Age         Country
10     Alice  26.0          Brazil
16    Amanda  30.0       Argentina
5      David  26.0  United Kingdom
17   Deborah  35.0          Mexico
0      James  22.0   United States
13   Jessica  38.0          Mexico
3       John  35.0   United States
14     Karen  28.0  United Kingdom
19  Kimberly  22.0  United Kingdom
11     Linda  12.0          Brazil
8       Mark  27.0          Mexico
1    Michael  36.0   United States
15     Nancy  27.5   United States
7    Richard  26.0  United Kingdom
2     Robert  38.0         Unknown
12     Susan  26.0         Unknown
9    William  28.0       Australia
4       None  27.5       Australia